.App {
    /* text-align: center; */
    /* background-color: #282c34; */
    /* display: flex;
    flex: 1; */
    min-height: 100vh;
}

/* .App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
} */

.App-header {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    background-color: white;
    /* color: white; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.App-body {
    display: flex;
    flex: auto;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px);
    /* background-color: blue; */
}

/* .App-link {
    color: #61dafb;
} */
/* 
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */
